@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Manrope", sans-serif;
  overflow-x: hidden;
  ::-webkit-scrollbar {
    display: none;
  }
}

/** Key Change **/
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.navbar {
  height: 100px;
  position: relative;
  z-index: 100;
  overflow: hidden;
}

.menu-icon {
  display: none;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 80px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #2370dd;
  font-weight: 500;
  position: relative;
  overflow: hidden;
}

.nav-elements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 50%;
  height: 3px;
  background-color: #2370dd;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: -20px;
    top: 60px;
    background-color: #ffffff;
    /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); */
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow-x: hidden;
    padding: 10px;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}
